/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1050px;
}


.header {
	      
	       width: 100%;
    height: 100%;

	      }


	      .intro-text {

position:absolute;
left:2em;
bottom:2em;
width:40%;
line-height: 1.5em;
font-size: 1.3em;
color: $light-text-color;
font-weight:100;
}


.social {

padding-top:2em;


li {

display:inline-block;
font-size:2em;
padding-left:0.7em;



a {
	
color:#a9a6a6;

}


}

}




.icons li {


padding:5em;

h2 {

text-align:center;
font-weight:400;

}

}