/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

.wrap {
  width: 1200px;
}


	      .intro-text {

position:absolute;
left:2em;
bottom:4em;
width:33%;
line-height: 1.7em;
font-size: 1.5em;
color: $light-text-color;
font-weight:100;
}


.text-center {

margin:auto;
width:35%;
display:block;
padding-top:3em;

}


.scroll-down {

position:absolute;
bottom:1em;
left:49%;
font-size:4em;
color: #ffffff;


}



.icons li {


padding:6em;

h2 {

text-align:center;
font-weight:200;

}

}


.intro-page {

/*width:400px;*/
padding-top:2em;

line-height: 1.3em;
font-size: 1.8em;
color: $light-text-color;
font-weight:100;

 span {

color:$iamronanpink;

 }


}